body {
	background-color: #0C0040;
	color: #FFB800;
}

.planet-card {
	border: darkgrey solid 5px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.planet-header {
	text-align: center;
	border-bottom: darkgrey solid 5px;
	font-size: 1.5em;
}

#planets-container {
	display: inline;
}