body {
	background-color: slateblue;
}

.planet-card {
	border: darkgrey solid 5px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.planet-header {
	text-align: center;
	border-bottom: darkgrey solid 5px;
	font-size: 1.5em;
}